.blog {
	&_menu {
		li {
			border: 1px solid #ddd;
			color: #454545;
			cursor: pointer;
			display: inline-block;
			font-size: 12px;
			font-weight: 500;
			line-height: 21px;
			margin: 0 4px 10px;
			position: relative;
			text-transform: uppercase;
			-webkit-transition: all .5s ease 0s;
			transition: all .5s ease 0s;
			&:hover {
				color: #fff;
				border-color: #0c5adb;
				background-color: #0c5adb;
			}
			&.current-menu-item {
				color: #fff;
				border-color: #0c5adb;
				background-color: #0c5adb;
			}
			a {
				display: inline-block;
				padding: 7px 14px;
			}
		}
	}
	&_item {
		&_img {
			transition: transform 0.35s;
			&_popular {
				height: 225px;
				object-fit: cover;
			}
		}
		&:hover {
			.blog_item_img {
				transform: scale(1.03) rotate(0.5deg);
			}
		}
	}
	&_content {
		box-shadow: 0 3px 29px rgba(0,0,0,.08);
    border-radius: 0 0 10px 10px;
    a {
    	color: #0c5adb;
    }
    p {
    	color: #424242;
    	font-weight: 400;
    	margin-bottom: 1.2rem;
    }
    ul {
    	margin-bottom: 1.2rem;
    }
    li {
    	position: relative;
    	list-style-type: none;
    	padding-left: 1rem;
    	&:before {
    		content: '';
    		position: absolute;
    		left: 0; top: 0.5rem;
    		width: 0.5rem;
    		height: 0.5rem;
    		background-color: #424242;
    	}
    }
	}
	&_meta {
		position: relative;
		&_dot {
			width: 8px;
			height: 8px;
			background-color: #424242;
		}
	}
	&_popular {
		box-shadow: 0 3px 29px rgba(0,0,0,.08);
    border-radius: 10px;
	}
	&_сategories {
		box-shadow: 0 3px 29px rgba(0,0,0,.08);
    border-radius: 10px;
    li {
    	border-top: 1px solid #e8e8e8;
    	padding: 1rem 0;
    }
    a {
    	color: #616161;
    	&:hover {
    		color: #0c5adb;
    	}
    }
	}
	&_comments {
		h3 {
			position: relative;
			font-size: 1.875rem;
			font-weight: 700;
			margin-bottom: 3rem;
			&:before {
				content: '';
				position: absolute;
		    left: 0;
		    bottom: -15px;
		    width: 88px;
		    height: 3px;
		    background: #aec6ef;
			}
			&:after {
				content: '';
		    position: absolute;
		    left: 0;
		    bottom: -17px;
		    height: 8px;
		    width: 8px;
		    border-radius: 50%;
		    background: #0c5adb;
		    -webkit-animation-duration: 3s;
		    animation-duration: 3s;
		    -webkit-animation-timing-function: linear;
		    animation-timing-function: linear;
		    -webkit-animation-iteration-count: infinite;
		    animation-iteration-count: infinite;
		    -webkit-animation-name: MOVE-BG;
		    animation-name: MOVE-BG;
			}
		}
		.comment-form-cookies-consent {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		#wp-comment-cookies-consent {
			width: auto;
			margin: 0;
			margin-right: 0.75rem;
		}
	}
	&-masonry {
		width: -webkit-calc(33.3333% - 20px);
		width: calc(33.3333% - 20px);
		margin-bottom: 20px;
		@include for-tablet {
			width: -webkit-calc(50% - 20px);
			width: calc(50% - 20px);
		}
		@include for-phone {
			width: 100%;
		}
		&-size {
			width: 33.33333%;
			width: -webkit-calc(33.3333% - 20px);
			width: calc(33.3333% - 20px);
			@include for-tablet {
				width: -webkit-calc(50% - 20px);
				width: calc(50% - 20px)
			}
			@include for-phone {
				width: 100%;
			}
		}
	}
}

@keyframes MOVE-BG {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(88px);
	}
}