.wp-block-group__inner-container{width:100%; margin-left: auto; margin-right: auto;}@media (min-width:640px){.wp-block-group__inner-container{max-width:640px;padding-left: 1rem;padding-right: 1rem;}}@media (min-width:768px){.wp-block-group__inner-container{max-width:768px;padding-left: 1rem;padding-right: 1rem;}}@media (min-width:1024px){.wp-block-group__inner-container{max-width:1024px;padding-left: 1rem;padding-right: 1rem;}}@media (min-width:1280px){.wp-block-group__inner-container{max-width:1280px}}
.wp-block-group__inner-container .alignwide {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	@include for-phone {
		width: 100%;
		padding-left: 1rem;padding-right: 1rem;
	}
}

.wp-block-gallery {
	ul {
		margin: 0 -1rem;
	}
	li {
		padding-left: 1rem;
		&:before {
			content: none;
		}
	}
}


.wp-block-media-text {
	&.has-media-on-the-right {
		.wp-block-media-text__content {
			padding: 0;
			padding-right: 8%;
			@include for-phone {
				padding: 2rem 0;
			}
			
		}
	}	
	.wp-block-media-text__content {
		padding: 0;
		padding-left: 8%;
		@include for-phone {
			padding: 2rem 0;
		}
	}
	p {
		margin-bottom: 0;
	}
}


figure.wp-block-image {
	width: 75%;
	box-shadow: 0 0 5px 0 rgba(204,204,204,.48);
	padding: 1rem;
	margin: auto;
  margin-bottom: 1.5rem;
  @include for-phone {
  	width: 100%;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    opacity: 0.75;
    padding: 0.25rem 0;
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

.block {
	.reviews {
		&_pagination {
			text-align: center;
			margin-top: 2rem;
			.swiper-pagination-bullet {
				height: 5px;
				width: 25px;
				background: #bfcadc;
				margin: 0 3px;
				border-radius: 50px;
				opacity: 1;
			}
			.swiper-pagination-bullet-active {
				width: 35px;
				background: #0c5adb;
			}
		}
	}
	.review {
		&_item {
			&_content {
				position: relative;
				&:before {
					content: '';
					bottom: -20px;
					top: auto;
					border-color: #fff transparent transparent #fff;
					display: block;
					position: absolute;
					left: 0;
					margin-left: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 15px;
				}
			}
			&_text {
				color: #616161;
			}
			&_date {
				color: #0c5adb;
				font-weight: 600;
				font-style: italic;
			}
			&_author {
				&_name {
					color: #ffffff;
					font-size: 1.25rem;
					font-weight: 600;
				}
				&_head {
					color: #4a4a4a;
					font-weight: 500;
				}
			}
		}
	}
	.clients {
		&_logos {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0 -1rem;
		}
		&_logo {
			-webkit-box-flex:1;
			-webkit-flex:1 0 16.66%;
			-ms-flex:1 0 16.66%;
			flex:1 0 16.66%;
			-webkit-box-pack:center;
			-webkit-justify-content:center;
			-ms-flex-pack:center;
			justify-content:center;
			padding: 0 1rem;
			@include for-phone {
				-webkit-box-flex: 1;
				-webkit-flex: 1 0 50%;
				-ms-flex: 1 0 50%;
				flex: 1 0 50%;
			}
		}
	}
	&_mission {
		&_wrap {
			position: relative;
			border-top: 1px solid #b9b9b9;
			border-bottom: 1px solid #b9b9b9;
			padding: 3rem 0 2.5rem 0;
		}
		&_title {
			position: absolute;
			top: -4px; left: 50%;
			background-color: #ffffff;
			transform: translate(-50%, -50%);
			padding: 0 3rem;
			@include for-phone {
				padding: 0 1rem;
			}
		}
		&_author {
			color: #006784;
		}
	}
	&_team {
		&_member {
			@include for-phone {
				width: 100% !important;
			}
		}
	}
	&_quote {
		&_template {
			&_one {
				&_photo {
					width: 175px;
					min-width: 175px;
					max-width: 175px;
					height: 175px;
					object-fit: cover;
					border-radius: 50%;
				}
			}
			&_two {
				&_photo {
					width: 105px;
					min-width: 105px;
					max-width: 105px;
					height: 105px;
					object-fit: cover;
					border-radius: 50%;
				}
				&_icon {
					position: absolute;
					top: 0; right: 0;
					transform: translate(-50%, -25%);
					img {
						width: 135px;
						opacity: 0.2;
					}
				}
			}
			&_three {
				border-left: 0.35rem solid #dee1e8;
				padding-left: 2.25rem;
				&_text {
					&::first-letter {
						font-size: 2.25rem;
						font-weight: 600;
					}
				}
				&_photo {
					width: 90px;
					min-width: 90px;
					max-width: 90px;
					height: 90px;
					object-fit: cover;
					border-radius: 50%;
				}
			}
		}
	}
	&_interview {
		&_author {
			img {
				width: 110px;
			}
		}
		&_wrap {
			color: #555555;
			background-color: #EDEDED;
			border-left: 0.5rem solid #78C0A8;
			padding-left: 2rem;
		}
	}
}