:root {
	--white-color: #ffffff;
	--blue-color: #3b49de;
	--main-bg-color: #eef0f1;
	--light-bg-color: #f9fafa;
	--main-dark-color: #08090a;
	--light-dark-color: #f9fafa;
	--link-color: #3b49df;
	--border-color: #b5bdc4;
}